* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  width: 100%;
  margin: 0;
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  background: url(images/bg-main-desktop.png) no-repeat fixed left;
  height: 100%;
  width: 100%;
}

.container {
  max-width: 110rem;
  margin: 6rem auto;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10rem;
}

.btn {
  font-family: inherit;
  background-color: hsl(278, 68%, 11%);
  color: #fff;
  border: none;
  padding: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  margin-top: 1.8rem;
}

/* CARD HANDLING */
.card-front-back {
  display: flex;
  flex-direction: column;
  color: #fff;
  gap: 2rem;
}

.card-front-container {
  width: 45rem;
  height: 24rem;
}

.card-front-container p,
.card-back-container p {
  display: inline-block;
}

.card-back-container {
  width: 45rem;
  height: 24rem;
}

.card-f-logo {
  position: relative;
  bottom: 94%;
  left: 6%;
}

.card-front {
  position: relative;
}

.card-f-number {
  position: relative;
  bottom: 53%;
  left: -5%;
  font-size: 3.2rem;
  width: 34rem;
  overflow: hidden;
}

.card-f-owner {
  position: relative;
  left: 7%;
  bottom: 44%;
  max-width: 22rem;
  overflow: hidden;
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

.card-f-date {
  position: relative;
  right: -52%;
  bottom: 45%;
  font-size: 1.4rem;
}

/* */

.card-b-img,
.card-f-img {
  max-width: 100%;
}

.card-back {
  display: flex;
  justify-content: right;
}

.card-back-container {
  align-self: right;
}
.card-b-img {
  justify-self: right;
  box-shadow: 0 0 36px 14px rgba(0, 0, 0, 0.15);
  background-color: #00000025;
}

.card-b-cvc {
  position: relative;
  top: -58%;
  left: 81%;
  width: 30px;
}

/* FORM STYLING */

#card-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 35rem;
}

label {
  position: relative;
  top: -0.2rem;
  right: 0;
  font-size: 1.2rem;
}

input {
  font-family: inherit;
  width: 100%;
  padding: 0.8rem 0.6rem;
  border-radius: 10px;
}

::placeholder {
  color: hsl(270, 3%, 87%);
}

.exp-date,
.input-flex {
  display: flex;
  width: 100%;
}

.exp-date {
  gap: 0.8rem;
}

.input-flex {
  gap: 1.4rem;
}

@media (max-width: 63em) {
  html {
    font-size: 54.5%;
  }

  body {
    background: url(images/bg-main-mobile.png) no-repeat fixed top;
    background-size: 100% 40vh;
  }

  .main-grid {
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .container {
    max-width: 60rem;
  }

  .card-f-number {
    font-size: 2.9rem;
  }

  .card-front-back {
    min-width: 100%;
    gap: 0;
    padding: 0 4rem;
  }

  .card-front {
    order: 2;
    margin-top: -11rem;
  }

  .card-f-date {
    font-size: 1.4rem;
  }

  .card-b-cvc {
    bottom: 107px;
    left: 82%;
    width: 30px;
  }
}

.comp-form {
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.comp-form {
  color: hsl(279, 6%, 55%);
}

.thanks-mess {
  font-size: 2.8rem;
  letter-spacing: 4px;
  color: hsl(278, 68%, 11%);
}

.hidden {
  display: none;
}
